.popup__input {
  width: 358px;
  height: 27px;
  padding: 0;
  border: 0;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 500px){
  .popup__input {
    width: 238px;
}
}

.popup__input::placeholder {
  color: #C4C4C4;
}

.popup__input:valid {
  margin-bottom: 35px;
}

