.popup__submit-button {
  background-color: #000000;
  color: white;
  border-radius: 2px;
  width: 358px;
  height: 50px;
  padding: 0;
  transition: opacity .12s linear;
}

.popup__submit-button:hover {
  opacity: .8;
  cursor: pointer;
}

@media screen and (max-width: 500px){
  .popup__submit-button {
    width: 238px;
    height: 46px;
  }
}